.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	bottom: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	display: block;
	width: 100%;
	cursor: pointer;
	border: none;
	outline: none;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

fieldset,
img,
abbr {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
th,
var {
	font-style: normal;
	font-weight: normal;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

ul li {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	outline: none;
}

legend {
	color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	color: #333333;
	background-color: #fff;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	font-style: normal;
	font-family: "roboto";
	box-sizing: border-box;
}

* {
	box-sizing: border-box;
}

*::after,
*::before {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

.svg-about {
	display: none;
}

.container {
	max-width: 1220px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

.container--inner {
	max-width: 1940px;
	padding: 0px;
}

.container--contacts {
	max-width: 620px;
}

.input {
	display: block;
	width: 100%;
	border: none;
	background-color: #f2f2f2;
	border-radius: 20px;
	padding: 15px;
	padding-bottom: 16px;
}

.input--area {
	min-height: 200px;
	resize: none;
}

.input.form-fail {
	border-color: #b00;
}

.input.form-done {
	border-color: #90ee90;
}

.subtitle {
	position: relative;
	font-size: 24px;
	line-height: 1.2;
	color: #333333;
	text-transform: uppercase;
	padding-left: 218px;
	margin-bottom: 25px;
	font-weight: 300;
}

.subtitle:after {
	position: absolute;
	content: ' ';
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
	width: 200px;
	height: 1px;
	background-color: #333;
}

.title {
	font-size: 64px;
	line-height: 1.2;
	color: #1b58b1;
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 40px;
	font-weight: 900;
}

.btn {
	display: block;
	width: 100%;
	max-width: 240px;
	cursor: pointer;
	font: inherit;
	font-size: 18px;
	line-height: 1.2;
	border: none;
	outline: none;
	text-align: center;
	text-transform: uppercase;
	background-color: #fff;
	padding: 12px 5px;
	padding-bottom: 13px;
	border-radius: 20px;
	border: 2px solid #1B58B1;
	margin-bottom: 20px;
	font-weight: 900;
	transition: 0.3s background-color, 0.3s color, 0.3s border;
}

.btn--write {
	color: #fff;
	background-color: #1B58B1;
	margin-right: 35px;
}

.btn--write:hover {
	background-color: #0d2c59;
	border-color: #0d2c59;
}

.btn--services {
	color: #1B58B1;
	background-color: #fff;
}

.btn--services:hover {
	background-color: #1B58B1;
	color: #fff;
}

.btn--send {
	max-width: 250px;
	color: #fff;
	background-color: #1B58B1;
	margin-bottom: 0px;
}

.btn--send[disabled] {
	cursor: default;
	opacity: 0.5;
	text-decoration: line-through;
}

.btn--send:not(:disabled):hover {
	background-color: #0d2c59;
	border-color: #0d2c59;
}

.main-header {
	padding-top: 40px;
	margin-bottom: 40px;
}

.main-header__wrap {
	position: relative;
	display: flex;
	align-items: center;
}

.main-header__logo {
	display: block;
	max-width: 250px;
	width: 100%;
	font-size: 48px;
	color: #1B58B1;
	text-transform: uppercase;
	font-weight: 200;
	margin-right: auto;
}

.main-header__list {
	display: flex;
}

.main-header__list li:not(:last-child) {
	margin-right: 20px;
}

.main-header__link {
	position: relative;
	display: inline-block;
	font-size: 16px;
	line-height: 1.2;
	color: #000;
	text-transform: uppercase;
	font-weight: 400;
	transition: 0.3s color;
}

.main-header__link--active {
	position: relative;
}

.main-header__link--active:after {
	position: absolute;
	content: ' ';
	bottom: -15px;
	left: calc(50% - 10px);
	width: 20px;
	height: 7px;
	background-color: #1B58B1;
	border-radius: 30px;
}

.main-header__link:hover:not(.main-header__link--active) {
	color: #1B58B1;
}

.mobile-wrap {
	display: none;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.line-burger {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 25px;
	height: 3px;
	background-color: #333333;
	transition: 0.5s width;
}

.line-burger:after,
.line-burger:before {
	content: '';
	position: absolute;
	width: 25px;
	height: 3px;
	background-color: #333333;
	left: 0;
	transition: 0.5s;
}

.line-burger:after {
	top: calc(100% + 5px);
}

.line-burger:before {
	bottom: calc(100% + 5px);
}

.line-active {
	width: 0;
}

.line-active:after {
	top: 9px;
	transform: rotate(-45deg);
	transform-origin: 0 0;
}

.line-active:before {
	bottom: 9px;
	transform: rotate(45deg);
	transform-origin: 0 100%;
}

.main-nav__toggle {
	position: relative;
	cursor: pointer;
	display: none;
	width: 25px;
	height: 25px;
	margin-top: -5px;
}

.main-footer__wrap {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.main-footer__logo {
	display: block;
	max-width: 250px;
	width: 100%;
	font-size: 48px;
	color: #1B58B1;
	text-transform: uppercase;
	font-weight: 200;
	margin-right: auto;
}

.main-footer__list {
	display: flex;
}

.main-footer__list li:not(:last-child) {
	margin-right: 20px;
}

.main-footer__link {
	position: relative;
	display: inline-block;
	font-size: 16px;
	line-height: 1.2;
	color: #000;
	text-transform: uppercase;
	font-weight: 400;
	transition: 0.3s color;
}

.main-footer__link--active:after {
	position: absolute;
	content: ' ';
	top: -15px;
	left: calc(50% - 10px);
	width: 20px;
	height: 7px;
	background-color: #1B58B1;
	border-radius: 30px;
}

.main-footer__link:hover:not(.main-footer__link--active) {
	color: #1B58B1;
}

.main-footer__desc {
	padding-bottom: 45px;
}

.main-footer__desc p {
	font-size: 14px;
	line-height: 1.2;
	text-align: center;
	color: #1B58B1;
	text-transform: uppercase;
}

.msg-modal {
	position: fixed;
	top: 30%;
	left: calc(50% - 150px);
	width: 300px;
	padding: 20px 30px;
	border-radius: 15px;
	text-align: center;
	background-color: #1B58B1;
	color: #fff;
	opacity: 0;
	visibility: hidden;
	font-size: 18px;
	line-height: 1.5;
	border-radius: 5px;
	z-index: 20;
	transition: 0.3s visibility, 0.3s opacity;
}

.msg-modal-active {
	opacity: 1;
	visibility: visible;
}

.about {
	margin-bottom: 122px;
}

.about__wrap {
	display: flex;
	flex-wrap: wrap;
}

.about__item {
	width: 50%;
}

.about__item--content {
	padding-top: 75px;
	padding-right: 10px;
}

.about__item--pic {
	position: relative;
}

.about__elem {
	position: relative;
	font-size: 24px;
	line-height: 1.2;
	color: #333333;
	text-transform: uppercase;
	padding-left: 218px;
	margin-bottom: 25px;
	font-weight: 300;
}

.about__elem:after {
	position: absolute;
	content: ' ';
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
	width: 200px;
	height: 1px;
	background-color: #333;
}

.about__text {
	padding-bottom: 36px;
}

.about__text p {
	font-size: 18px;
	line-height: 1.7;
	color: #000000;
}

.about__inner {
	display: flex;
	align-items: flex-start;
	padding-bottom: 10px;
}

.about__block {
	display: flex;
	align-items: center;
}

.about__logo {
	max-width: 220px;
	width: 100%;
	margin-right: 58px;
}

.about__image {
	padding-left: 35px;
}

.about__image img {
	display: block;
}

.about__card {
	position: absolute;
	left: -80px;
	bottom: -205px;
}

.services {
	margin-bottom: 120px;
}

.services__title {
	font-size: 64px;
	line-height: 1.2;
	color: #1B58B1;
	text-transform: uppercase;
	padding-bottom: 20px;
	font-weight: 200;
}

.services__subtitle {
	font-size: 36px;
	line-height: 1.2;
	color: #000;
	text-transform: uppercase;
	padding-bottom: 30px;
	font-weight: normal;
}

.services__block {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 420px;
	background-color: rgba(27, 88, 177, 0.05);
	border-radius: 90px;
}

.services__file {
	position: relative;
	z-index: 4;
	display: block;
	width: 200px;
	height: 200px;
	background-color: #1B58B1;
	border-radius: 40px;
}

.services__elem {
	font-size: 72px;
	line-height: 1;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 5px;
	font-weight: 200;
}

.services__download {
	font-size: 18px;
	line-height: 1.2;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-weight: 900;
}

.services__decor-left,
.services__decor-right {
	position: absolute;
	content: ' ';
	width: 700px;
	height: 300px;
	background-color: rgba(27, 88, 177, 0.05);
	border-radius: 40px;
}

.services__decor-left:after {
	position: absolute;
	content: ' ';
	top: calc(50% - 1px);
	width: 300px;
	height: 2px;
	background-color: rgba(27, 88, 177, 0.5);
	left: 60px;
}

.services__decor-right:before {
	z-index: 3;
	position: absolute;
	content: ' ';
	top: calc(50% - 1px);
	width: 300px;
	height: 2px;
	background-color: rgba(27, 88, 177, 0.5);
	right: 60px;
}

.services__decor-left {
	top: 35px;
	left: 45px;
}

.services__decor-right {
	top: 80px;
	right: 45px;
}

.contacts {
	margin-bottom: 70px;
}

.contacts__title {
	font-size: 48px;
	line-height: 1.2;
	color: #000;
	text-transform: uppercase;
	padding-bottom: 32px;
	font-weight: 200;
}

.contacts__item {
	margin-bottom: 30px;
}

.contacts__item--block {
	margin-bottom: 55px;
}

.contacts__inner {
	display: flex;
	justify-content: space-between;
}

.contacts__label {
	user-select: none;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	line-height: 1.2;
	color: #000;
	text-transform: uppercase;
	margin-left: 10px;
	margin-bottom: 16px;
}

.contacts__info {
	font-size: 18px;
	line-height: 1.2;
	color: #808080;
	margin-bottom: 16px;
}

.contacts__row {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 70px;
}

.contacts__desc {
	user-select: none;
	font-size: 18px;
	line-height: 1.2;
	color: #1B58B1;
	text-transform: uppercase;
	text-align: center;
	font-weight: 300;
	margin-right: 35px;
}

.contacts__wrap-error {
	margin-bottom: 5px;
}

.contacts__fail {
	color: #8B0000;
	text-transform: uppercase;
	padding-left: 10px;
	padding-bottom: 15px;
	font-weight: 700;
}

.contacts__elem {
	position: relative;
	padding-top: 58px;
	padding-bottom: 45px;
}

.contacts__elem:after,
.contacts__elem:before {
	position: absolute;
	content: ' ';
	width: 300px;
	height: 2px;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(51, 51, 51, 0.5);
}

.contacts__elem:after {
	top: 0px;
}

.contacts__elem:before {
	bottom: 0px;
}

.contacts__holder {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding-bottom: 20px;
	margin: 0 -23px;
}

.contacts__tel {
	font-size: 48px;
	color: #1B58B1;
	margin: 0 23px;
	margin-bottom: 30px;
	font-weight: 200;
}

.contacts__email {
	font-size: 24px;
	line-height: 1.2;
	color: #1B58B1;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
	font-weight: 300;
}

.contacts__address {
	font-size: 18px;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: center;
	color: #000000;
	margin-bottom: 20px;
}

.content {
	padding-top: 85px;
	padding-bottom: 50px;
}

.content__text p {
	font-size: 16px;
	line-height: 1.9;
	padding-bottom: 1.9em;
}

.content__text h1 {
	font-size: 28px;
}

.content__text h2 {
	font-size: 26px;
}

.content__text h3 {
	font-size: 24px;
}

.content__text h4 {
	font-size: 22px;
}

.content__text h5 {
	font-size: 20px;
}

.content__text h6 {
	font-size: 18px;
}

.content__text h1,
.content__text h2,
.content__text h3,
.content__text h4,
.content__text h5,
.content__text h6 {
	line-height: 1.5;
	color: #000;
	font-weight: bold;
	padding-bottom: 50px;
}

.content__text ul {
	margin: 1em 0;
}

.content__text ul li {
	list-style-type: disc;
	list-style-position: inside;
	line-height: 1.7;
	margin-bottom: 5px;
	padding-left: 20px;
}

.content__text ol {
	margin: 1em 0;
}

.content__text ol li {
	list-style-type: decimal;
	list-style-position: inside;
	line-height: 1.7;
	margin-bottom: 5px;
	padding-left: 20px;
}

.doc {
	padding-top: 85px;
	padding-bottom: 35px;
}

.doc__wrap {
	padding-top: 36px;
}

.doc__item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
	padding: 13px 20px;
	padding-bottom: 0px;
	margin-bottom: 32px;
}

.doc__title {
	font-size: 18px;
	line-height: 1.9;
	padding-right: 40px;
	color: #000;
	padding-bottom: 13px;
	font-weight: 300;
}

.doc__icons {
	display: flex;
	padding-bottom: 13px;
}

.doc__box svg {
	width: 30px;
	height: 30px;
	fill: #1B58B1;
}

.doc__box:not(:last-child) {
	margin-right: 35px;
}

.founder {
	padding-top: 85px;
	margin-bottom: 70px;
}

.founder__logo {
	margin-bottom: 20px;
}

.founder__logo img {
	display: block;
	margin: 0 auto;
}

.founder .content__text p {
	text-align: center;
}

.founder .title {
	text-align: center;
}

.founder .subtitle {
	max-width: 450px;
	margin: 0 auto;
	margin-bottom: 25px;
}

@media screen and (max-width: 1250px) {

.main-header__logo {
	max-width: 200px;
	font-size: 37px;
}

.main-footer__logo {
	max-width: 200px;
	font-size: 37px;
}

.services__decor-left:after {
	left: 30px;
	width: 280px;
}

.services__decor-right:before {
	right: 30px;
	width: 280px;
}

.services__decor-left {
	left: 30px;
}

.services__decor-right {
	right: 30px;
}

}

@media screen and (max-width: 1150px) {

.main-header__wrap {
	flex-direction: column;
}

.main-header__logo {
	margin: 0 auto;
	margin-bottom: 25px;
}

.main-footer__wrap {
	flex-direction: column;
}

.main-footer__logo {
	margin: 0 auto;
	margin-bottom: 35px;
}

.services {
	margin-bottom: 60px;
}

.services__block {
	max-width: 350px;
	margin: 0 auto;
	height: 300px;
	border-radius: 50px;
}

.services__decor-left,
.services__decor-right {
	display: none;
}

}

@media screen and (max-width: 1050px) {

.title {
	font-size: 42px;
}

.about {
	margin-bottom: 60px;
}

.about__wrap {
	flex-direction: column;
}

.about__item {
	width: 100%;
	margin: 0px;
	display: contents;
}

.about__block {
	order: 2;
}

.about__image {
	margin-top: -10px;
}

.about__card {
	display: none;
}

}

@media screen and (max-width: 960px) {

.subtitle {
	padding-left: 120px;
}

.subtitle:after {
	width: 100px;
}

.main-header {
	padding-top: 30px;
	margin-bottom: 40px;
}

.main-header__wrap {
	flex-direction: row;
	justify-content: space-between;
}

.main-header__logo {
	margin: 0px;
}

.main-header__list li:not(:last-child) {
	margin-right: 0px;
}

.main-header__list {
	display: none;
	width: calc(100% + 40px);
	top: 100%;
	left: -20px;
	z-index: 8;
	position: absolute;
	padding-left: 20px;
	padding-top: 40px;
	padding-bottom: 10px;
	background-color: #fff;
	border-bottom: 1px solid #1B58B1;
	max-height: calc(100vh - 70px);
	overflow-y: auto;
	overflow-x: hidden;
}

.main-header__link {
	margin-bottom: 20px;
}

.main-header__link--active:after {
	width: 100%;
	left: 0px;
	bottom: -10px;
	height: 4px;
}

.mobile-wrap {
	display: flex;
	background-color: #fff;
	width: 100%;
	padding: 10px 20px;
	padding-right: 0px;
}

.main-nav__toggle {
	display: block;
}

.main-footer__wrap {
	justify-content: space-between;
	margin-bottom: 15px;
}

.main-footer__list {
	flex-direction: column;
	align-items: center;
}

.main-footer__list li:not(:last-child) {
	margin-right: 0px;
}

.main-footer__link {
	margin-bottom: 20px;
}

.main-footer__link--active:after {
	width: 100%;
	left: 0px;
	bottom: -10px;
	top: initial;
	height: 4px;
}

.main-footer__desc {
	padding-bottom: 30px;
}

.about__elem {
	padding-left: 120px;
}

.about__elem:after {
	width: 100px;
}

.services__title {
	font-size: 45px;
}

.services__subtitle {
	font-size: 28px;
}

.contacts {
	margin-bottom: 50px;
}

.contacts__title {
	font-size: 35px;
}

.contacts__row {
	margin-bottom: 45px;
}

.contacts__elem {
	padding-top: 40px;
	padding-bottom: 25px;
}

.contacts__holder {
	flex-direction: column;
	margin: 0px;
	padding-bottom: 10px;
}

.contacts__tel {
	font-size: 35px;
}

.contacts__email {
	font-size: 22px;
}

.contacts__address {
	font-size: 17px;
}

.content {
	padding-top: 30px;
}

.founder {
	padding-top: 30px;
}

}

@media screen and (max-width: 780px) {

.title {
	font-size: 35px;
}

.about {
	margin-bottom: 40px;
}

.contacts__tel {
	font-size: 27px;
	margin-bottom: 20px;
}

.content__text h1 {
	font-size: 26px;
}

.content__text h2 {
	font-size: 24px;
}

.content__text h3 {
	font-size: 22px;
}

.content__text h4 {
	font-size: 20px;
}

.content__text h5 {
	font-size: 18px;
}

.content__text h6 {
	font-size: 16px;
}

.content__text h1,
.content__text h2,
.content__text h3,
.content__text h4,
.content__text h5,
.content__text h6 {
	line-height: 1.4;
	padding-bottom: 35px;
}

}

@media screen and (max-width: 560px) {

.subtitle {
	font-size: 21px;
	padding-left: 100px;
}

.subtitle:after {
	width: 80px;
}

.about__inner {
	flex-direction: column;
}

.about__logo {
	margin: 0 auto;
}

.about__decor {
	display: none;
}

}

