@import 'responsive'

.founder
	padding-top: 85px
	margin-bottom: 70px
	+media(md)
		padding-top: 30px

	&__logo
		margin-bottom: 20px
		img
			display: block
			margin: 0 auto

	.content__text
		p
			text-align: center

	.title
		text-align: center

	.subtitle
		max-width: 450px
		margin: 0 auto
		margin-bottom: 25px	